In [1]:
#Lists

marks = [10, 20, 30, 40, 50] #initiliasing a list of integers

marks.append(60) #add to the list (push in list)

print(marks)
print(type(marks))

In [ ]:
#access the list

names=['ram', 'shyam', 'hari', 'gita', 'sita']

print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])

# print(names[5])

In [ ]:
#access list using circular index

names=['ram', 'shyam', 'hari', 'gita', 'sita']

index=len(names)-1

print(names[index])

print(names[-1])

In [ ]:
person=["John",20,True,1.75]

print(person)

print(type(person[0]))

print(type(person[2]))

In [ ]:
#updating list elements
marks=[10,20,30,40,50]
marks[4]=100


print(marks)

In [ ]:
#removing values from the list
names=['ram', 'shyam', 'hari', 'gita', 'sita']

del names[2]  #remove using index

names.remove('ram')  #remove using value

print(names)


# popped_value=names.pop() #remove last element and retuned it
popped_value=names.pop(1) #remove element at index and return it

print(popped_value)
print(names)

In [ ]:
#adding lists
a=[1,2,3]
b=[4,5,6]

c=a+b

print(c)

In [ ]:
#list function
a=[1,2,3,4,5,6]
print(sum(a))


names=['ram', 'shyam', 'hari', 'gita', 'sita']
# names.sort()

names=sorted(names)

nums=[1,472,193,182,2]
nums.sort()

print(names)

print(nums)


person=["John",20,True,1.75]
person.insert(1,"Doe")

print(person)


a=[1,2,3,4,5,6]
# a.reverse()
# print(a)
a.extend([7,8,9])
print(a)

In [ ]:
person=["John",20,True,1.75]

for item in person:
    print(item)

In [ ]:
person=["John",20,True,1.75]

for i in range(len(person)):
    print(person[i])

In [ ]:
i=0

marks=[10,20,30,40,50]

while i < len(marks):
    print(marks[i])
    i=i+1

In [ ]:
#strings

name="John" #string = list of characters

# name=['J','o','h','n']

for character in name:
    print(character)

text='This is a sentence'
for character in text:
    print(character)

In [ ]:
name="Nirmal"
# print(list(name))

print(name[1])


#string slicing
sentence="This is a sentence"

print(sentence[0:7])

In [ ]:
#tuples
person2=("John",20,1.65)

print(person2[0])

In [ ]:
#sets

a={1,2,3,4,5}

a.add(2)
a.add(6)

a.remove(1)

print(a)

In [ ]:
#accessing set
a={1,2,3,4,5}

print(a)

for item in a:
    print(item)

b=list(a)
print(b[0])

In [ ]:
a={1,2,3}

b={4,5}

c=a.union(b)

print(c)

In [ ]:
a={1,2,3}

b={2,3,4}

print(a.intersection(b))

In [ ]:
a={1,2,3,4,5}

b={4,5}

c=a.difference(b)


d=b.difference(a)

print(c)

print(d)

In [ ]:
#dictionary

person={
    "name":"John",
    "age":20,
    "married": False
}

print(person['name'])
print(person['age'])

person['height']=1.2

print(person)

person['age']=person['age']+1

person['height']=1.5

print(person)

del person['married']

print(person)

In [ ]:
#tuple unpacking

person={
    "name":"John",
    "age":20,
    "married": False
}

print(person.items())

unpacked_values=person.items()

for item in unpacked_values:
    print(item)

In [ ]:
person={
    "name":"John",
    "age":20,
    "married": False,
    'kids': ['kid1','kid2','kid3']
}

print(person['kids'])


person['kids'].append('kid4')

print(person)

In [ ]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sample_dict['class']['student']['marks']['history'])

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"

}
keys_to_remove = ["name", "salary"]

for key in keys_to_remove:
    del sample_dict[key]


print(sample_dict)

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

print(sample_dict)

sample_dict.clear()

print(sample_dict)

In [ ]:
list1 = [1,2,3]
list2 = ['a','b','c']

zipped_items=zip(list1, list2) #zipping output

print(zipped_items)


for item in zipped_items:
    print(item)

In [ ]:
list1 = [1,2,3]

for num in list1:
    print(num)
else:
    print("Loop terminated")

print("Done")

In [ ]:
i=10

while i>0:
    print(i)
    i=i-1
else:
    print(f"reached 0 \n {i}")

In [ ]:
names=['ram', 'shyam', 'hari', 'gita', 'sita']

for name in names:
    if name=='hari':
        pass
    print(name)

In [ ]:
def do_something():
    pass

a=1+2
print(a)

In [ ]:
person={
    "name":"John",
    "age":20,
    "married": False
}

#accessing all keys using a loop
for key in person:
    print(key)


#accessing all values using a loop

for key in person:
    print(person[key])

#accessing both key and value with a loop

for key,value in person.items():
    print(key,value)

In [ ]:
for i in range(10,20):
   print(i)

In [ ]:
marks=[10,20,30,40,50]

print(max(marks))
print(min(marks))
print(sum(marks))

In [ ]:
while True:
    print("Hello")

In [ ]:
#searching a value in a list

names=['ram', 'shyam', 'hari', 'gita', 'sita']

search_value=input("Enter a name to search: ")

found=False #flag


for name in names:
    if found==False:
        print(name)
        if name==search_value:
            print(f"Found: {search_value}")
            found=True



# for name in names:
#     print(name)
#     if name==search_value:
#         print(f"Found: {search_value}")

In [ ]:
#searching a value in a list

names=['ram', 'shyam', 'hari', 'gita', 'sita']

search_value=input("Enter a name to search: ")

for name in names:
    print(name)
    if name==search_value:
        print(f"Found: {search_value}")
        break

In [ ]:
#program to calculate the average of marks
marks=[10,20,30,40,50]

sum=0
for mark in marks:
    sum=sum+mark

print(sum)

print(sum/len(marks))

In [ ]:
#program to calculate the average of marks
marks=[10,20,30,40,50]

sum=0
for mark in marks:
    if mark==30:
        continue
    sum=sum+mark

print(sum)

print(sum/len(marks))

In [ ]:
for i in range(10):
    if 3 <= i <= 5:
        print(i)

In [ ]:
marks=[10,20,30,40,50]

i=0
for mark in marks:
    print(f'{i}: {mark}')
    i=i+1

In [ ]:
marks=[10,20,30,40,50]


for i,mark in enumerate(marks):
    print(f'{i}: {mark}')

In [ ]:
names=['ram', 'shyam', 'hari', 'gita', 'sita']

i=0
for name in names:
    names[i]=name.upper()
    i=i+1

print(names)

In [ ]:
names=['ram', 'shyam', 'hari', 'gita', 'sita']


capital_names=[name.upper() for name in names]
print(capital_names)

In [ ]:
mark=60

if mark>50:
    print("pass")
else:
    print("fail")


print("Pass") if mark>50 else print("Fail")

In [ ]:
names=["John","Tom","Don"]

students=[ ["John",[10,20,30]], [ "Tom",[20,30,40]],    [ "Don",[30,40,50]]] #3d

for student in students:
    for mark in student[1]:
        print(mark)