In [ ]:
SELECT COUNT(*) AS actor_count
FROM actors;

In [ ]:
INSERT INTO actors (actor_id, first_name, last_name)
VALUES (1001, '', ''); -- Trying to insert blank values