In [2]:
SELECT COUNT(*) AS actor_count
FROM actors;

SyntaxError: invalid syntax (4029415899.py, line 1)

In [1]:
INSERT INTO actors (actor_id, first_name, last_name)
VALUES (1001, '', ''); -- Trying to insert blank values

SyntaxError: invalid syntax (3525621797.py, line 1)